:root {
  --ai-color-primary: #027bfe;
  --ai-color-secondary: #676767;
  --ai-color-error: #f04438;
  --ai-color-complete: #129961;
  --ai-color-confirm: #175cd3;
  --ai-color-pending: #ff9e0c;
  --ai-color-draft: #344054;

  --ai-text-primary: #000;
  --ai-text-secondary: #a9a9a9;
  --ai-text-menu: #344054;
  --ai-text-hyperlink: #027bfe;
  --ai-text-placeholder: #d0d0d0;
  --ai-text-input-label: #676767;
  --ai-text-input-label-mobile: #0a0b0d;
  --ai-text-tab: #667085;

  --ai-border-primary: #e8e8e8;
  --ai-border-secondary: #d0d5dd;
  --ai-border-input: #d0d0d0;
  --ai-border-hover: #027bfe;
  --ai-border-checkbox: #a9a9a9;
  --ai-border-tab-active: #027bfe;
  --ai-border-complete: #a9efc5;
  --ai-border-confirm: #b2ddff;
  --ai-border-pending: #eaecf0;
  --ai-border-draft: #eaecf0;
  --ai-border-error: #fecdca;

  --ai-bg-primary: #fff9f5;
  --ai-bg-complete: #ecfdf3;
  --ai-bg-confirm: #eff8ff;
  --ai-bg-pending: #f9fafb;
  --ai-bg-draft: #f9fafb;
  --ai-bg-error: #fef3f2;
  --ai-bg-color-button-disable: #fff9f5;

  --ai-table-row-hover: #f3f3f3;

  --el-text-color-regular: #101828 !important;
}
